<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="../../css/login.css" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div class="beg-login-main">
				<form  action="../../toLogin"  class="layui-form" method="post">
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text"  id="user_name" lay-verify="userName" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password"  id="user_pass" lay-verify="password" autocomplete="off" placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-left beg-login-remember">
							<label>记住帐号？</label>
							<input type="checkbox" name="rememberMe" value="true" lay-skin="switch" checked title="记住帐号">
						</div>
						<div class="beg-pull-right">
							<button class="layui-btn layui-btn-primary" lay-submit lay-filter="login">
                            <i class="layui-icon">&#xe650;</i> 登录
                        </button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</form>
			</div>
			<footer>
				<p>Beginner © www.zhengjinfan.cn</p>
			</footer>
		</div>
		<script type="text/javascript" src="../../plugins/layui/layui.js"></script>
		<script>
			layui.use(['layer', 'form'], function() {
				var layer = layui.layer,
					$ = layui.jquery,
					form = layui.form();
				var nameAndPassFlag=false;
				form.on('submit(login)',function(data){
					if(!checkName()) return false;
			    	if(!checkPwd()) return false;
			    	validateNameAndPass();
			    	if(nameAndPassFlag){
			    		return true;
			    	}else{
			    		return false;
			    	}
					
				});
				
				function validateNameAndPass(){
					var user_name = $("#user_name").val();
					var user_pass = $("#user_pass").val();
					$.ajax({
		                type:"POST",
		                url:"../../judgeLogin",
		                data:{phone:user_name,pwd:user_pass},
		                dataType:"json",
		                async:false,//是否异步请求，如果是异步，那么不会等服务器返回，我们这个函数就向下运行了。
		                cache:false,
		                success: function(data){
		                	console.log(data);
		                	if(data==0) {
			                	nameAndPassFlag=true;
			                } else  {
		                		layer.msg("用户名或密码输入错误!");
			                }
		                }
		            });
				}
			    function checkName(){
			        var user_name = $("#user_name").val();
			        if(user_name==""){
			            layer.msg("请输入账号");
			            return false;
			        }
			        return true;
			    }
			    function checkPwd(){
			    	 var user_pass = $("#user_pass").val();
			         if(user_pass=="") {
			             layer.msg("请输入密码!");
			             return false;
			         }
			         return true;
			    }
			});
		</script>
	</body>

</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>